
<div class="mainContainer">
    <div class="holder">
       <div class="date-header">
            <div class="dob-container">
                <label for="dob">Date of Birth :</label>
                <input class="dob" type="date" [(ngModel)]="selectedDate" (ngModelChange)="onSelectedDate($event)"/>
            </div>
            <div class="today-container">
                <label for="td">Today :</label>
                <input class="today" type="date" [(ngModel)]="currentDate" (ngModelChange)="onCurrentDate($event)" />
            </div>
       </div>
       <div class="btnDiv">
            <button class="btnAge" (click)="calculateAge()" >Age</button>
       </div>
       <div *ngIf="age !== null">
            <p>{{ age }} years old</p>
       </div>
       <div class="display-age">
        <img src="../../assets/images/cake.png" alt="Description of the image" />
       </div>
    </div>
</div>
