<div class="mainContainer">
    <div class="sideHeader">
        <p>Free Online Calculators...</p>
    </div>
    <div class="sideItems">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" id="sItem">
              <a class="nav-link active" aria-current="page" href="#">Age</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Area</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">BMI</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Data</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Date</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Discount</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Length</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Mass</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">NIC-Age/Gender</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Speed</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Temperature</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Time</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Volume</a>
            </li>
            <li class="nav-item" id="sItem">
                <a class="nav-link active" aria-current="page" href="#">Currency</a>
            </li>
        </ul>
    </div>
</div>
